<header class="header">
    <h1 class="header__title">Tuper Trueke</h1>
    <nav class="header__nav">
        <ul class="header__menu">
            <li class="header__item">
                <a
                class="header" 
                [routerLink]="['home']"
                >Home
            </a>
            </li>
            <li class="header__item">
                <a 
                class="header" 
                [routerLink]="['create-plates']"
                >Crear Platos
                </a>
            </li>
            <li class="header__item">
                <a        
                class="header" 
                [routerLink]="['plate']"
                >Recetas
                </a>
            </li>
            <li class="header__item">
                <a
                *ngIf="!isLogged"        
                class="header" 
                [routerLink]="['login']"
                >Login
                </a>
            </li>
            <li class="header__item">
                <a
                *ngIf="isLogged"        
                class="header" 
                [routerLink]="['account']"
                >Login
                </a>
            </li>
        </ul>
    </nav>
</header>


<!-- [ngStyle]="{color: currentRouter === '/gallery' ? 'yellow' : 'white'}" -->
                <!-- (click)='selectedRouter' -->


                <!-- routerLinkActive='active' -->